.container{
  width: 100%;
  .header{
    display: flex;
    justify-content: space-between;
    .form-box{
      flex: 1;
    }
    .button-box{
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      button{
        margin-top: 20px;
      }
    }
  }
  .content-container{
    margin-top: 20px;
    .content-text{
      img{
        max-width: 100%;
      }
    }
  }
}